@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bold-text: #2d2d2d;
  --text-light: #757575;
  --purple: #a445ed;
  --bg-color: #fff;
  --switch: #757575;
  --switch-bg: #fff;
  --shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);

  --input-bg: #f4f4f4;
}

[data-theme='dark'] {
  --bold-text: #fff;

  --bg-color: #050505;

  --switch-bg: #1f1f1f;
  --switch: #a445ed;
  --shadow: 0px 5px 30px 0px #a445ed;

  --container-bg: #1f1f1f;
  --input-bg: #1f1f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--bg-color);
  color: var(--text-light);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
}
.app {
  max-width: 737px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.font-changer {
  padding-right: 13px;
  border-right: 1px solid #e9e9e9;
  position: relative;
  width: 120px;
}

.custom__select {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.header__right {
  display: flex;
  gap: 16px;
}

.theme-changer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fonts__list {
  position: absolute;
  top: 38px;
  left: 0px;
  background-color: var(--switch-bg);
  padding: 12px;
  box-shadow: var(--shadow);
  border-radius: 16px;
  z-index: 2;
}

.fonts__list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.fonts {
  width: 100px;
}

.custom__select {
  color: var(--bold-text);
}

.font {
  color: var(--bold-text);
}

.font:hover {
  color: #a445ed;
}

/* Form */

.form {
  position: relative;
}

input {
  width: 100%;
  color: var(--bold-text);
  background-color: var(--input-bg);
  outline: none;
  border: none;
  padding: 16px 24px;
  border-radius: 16px;
  position: relative;
  font-weight: 700;
}

.search {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  color: #ff5252;
  margin-top: 10px;
}

.error-border {
  outline: 1px solid #ff5252;
}

.error__screen {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  margin-bottom: 15px;
  font-size: 64px;
}
.error__title {
  color: var(--bold-text);
  margin-bottom: 12px;
}

.error__message {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-light);
}

/* Information */
.information__container {
  margin-top: 23px;
  width: 100%;
}

.button-audio {
  background-color: red;
}

.information__container-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.information__container-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information__container-right {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.information__container-right img {
  width: 48px;
  height: 48px;
}

.word {
  font-size: 32px;
  color: var(--bold-text);
}
.phonetic {
  font-size: 18px;
  color: var(--purple);
}

/* speech component */
.information__container-bottom {
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 1px;
  background: #3a3a3a;
}

.part-of-speech__header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.part-of-speech__header h3 {
  color: var(--bold-text);
}

.part-of-speech__content {
  padding: 34px 0;
}

.speech__list {
  display: flex;
  gap: 13px;
  flex-direction: column;
  margin-bottom: 24px;
}

.speech__list-item {
  list-style: none;
  position: relative;
  padding-left: 27px;
  font-size: 15px;
  color: var(--bold-text);
  line-height: 24px;
}

.speech__list-item::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #8f19e8;
  border-radius: 50%;
  top: 9px;
  left: 1px;
}

.meaning-title {
  margin-bottom: 17px;
}

.synonyms {
  display: flex;
  gap: 39px;
  list-style: none;
}

.synonyms__list-item {
  color: var(--purple);
  list-style: none;
  font-weight: 700;
}

.example {
  margin-top: 13px;
}

.source__urls {
  border-top: 1px solid #3a3a3a;
  padding: 26px 0 63px;
}

.source__urls h4 {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 10px;
}

.source__urls a {
  display: flex;
  gap: 10px;
  color: var(--bold-text);
}

.example {
  color: #797979;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 0 40px;
  }

  .custom__select {
    font-size: 18px;
  }

  .header {
    margin-top: 58px;
    margin-bottom: 51.5px;
  }

  input {
    padding: 19px 24px;
    font-size: 20px;
  }

  .word {
    font-size: 64px;
  }

  .phonetic {
    font-size: 24px;
  }

  .information__container-top {
    margin-bottom: 39px;
  }

  .information__container-right {
    width: 75px;
    height: 75px;
  }

  .information__container-right img {
    width: 100%;
    height: 100%;
  }

  .speech__header {
    font-size: 24px;
  }

  .part-of-speech__content {
    padding: 40px 0;
  }

  .meaning-title {
    font-size: 20px;
  }

  .speech__list-item {
    font-size: 18px;
    padding-left: 40px;
  }
  .speech__list-item::before {
    left: 18px;
  }

  .speech__list {
    margin-bottom: 40px;
  }

  .synonyms__title {
    font-size: 20px;
  }

  .synonyms__list-item {
    font-size: 20px;
  }

  .source__urls {
    display: flex;
    gap: 20px;
  }

  .source__urls h4 {
    margin-bottom: 0;
  }
}
