@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bold-text: #2d2d2d;

  --text-light: #757575;
  --purple: #a445ed;

  --bg-color: #fff;

  --switch: #757575;
}

[data-theme='dark'] {
  --bold-text: #fff;

  --bg-color: #050505;

  --switch: #a445ed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--bg-color);
  color: var(--text-light);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app {
  max-width: 737px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.font-changer {
  padding-right: 13px;
  border-right: 1px solid #e9e9e9;
}

.header__right {
  display: flex;
  gap: 16px;
}

.theme-changer {
  display: flex;
  align-items: center;
}
